.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 73px;
}

@include breakpoint-down (768) {
  .container {
    max-width: 689px;
  }
}

@include breakpoint-down (375) {
  .container {
    max-width: 327px;
    padding-left: 24px;
    padding-right: 24px;
  }
}